<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <style>
            .pane {
                background-color: #333333;
                border: 6px solid;
                border-color: #999999;
                border-radius: 46px;
                left: 0%;
                margin: -5px;
                padding: 134px;
                position: relative;
    </style>
    <body>
        <div class="pane">
            <div class="header">
                <h1>Create New Menu Item</h1>
            </div>
            <br>
            <form action="{{ url_for('new_menu_item', restaurant_id=restaurant_id) }}" method='post'>
                <input type='text' size='60' name='item-name' placeholder='Item_name'>
                <input type='text' size='30' name='price' placeholder='price'>
                <input type='text' size='30' name='description' placeholder='description'>
                <input type='submit' value='Create Menu Item'>
                <a href="{{ url_for('show_menu', restaurant_id=restaurant_id) }}">Cancel</a>
            </form>
        </div>
    </body>
</html>
