<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <style>
            .pane {
                background-color: #333333;
                border: 6px solid;
                border-color: #999999;
                border-radius: 46px;
                left: 0%;
                margin: -5px;
                padding: 134px;
                position: relative;
    </style>
    <body>
        <div class="pane">
            <div class="header">
                <h1>Create New Restaurant</h1>
            </div>
            <br>
            <form action="{{ url_for('new_restaurant') }}" method='post'>
                <input type='text' size='30' name='restaurant-name' placeholder='Restaurant Name'>
                <input type='submit' value='Create Restaurant'>
                <a href="{{ url_for('show_restaurants') }}">Cancel</a>
            </form>
        </div>
    </body>
</html>
