<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <style>
            .pane {
                background-color: #333333;
                border: 6px solid;
                border-color: #999999;
                border-radius: 46px;
                left: 0%;
                margin: -5px;
                padding: 134px;
                position: relative;
        
            

    </style>
    <body>
        <div class="pane">
            <div class="header">
                <h1>Restaurants</h1>
            </div>
            <br>
            <hr>
            <div>
                <a href="{{ url_for('new_restaurant') }}">Create New Restaurant</a>
            </div>
            
            <div class="flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for m in messages %}
                            <li><strong>{{ m }}</strong></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            {% if restaurants != [] %}
                {% for r in restaurants %}
                <a href="{{ url_for('show_menu',restaurant_id=r.id)}}">{{ r.name }}</a>
                
                
                            <div class="edit-delete-pane">
                                <div>
                                        <a href="{{ url_for('edit_restaurant', restaurant_id=r.id) }}">Edit</a>
                                </div>
                                    <a href="{{ url_for('delete_restaurant', restaurant_id=r.id) }}">Delete</a>
                                </div>
                    
                
                    <br>
                {% endfor %}
            {% else %}
                <p>There are currently no restaurants to display.</p>
            {% endif %}
        </div>
    </body>
</html>
